body {
    background: #eeeeee;
}

.btn,
button {
    background: rgba(152, 20, 25, 0.8);
    color: rgba(255,255,255,1);
}

.btn:hover,
button:hover {
    background: rgba(152, 20, 25, 1);
    color: rgba(255,255,255,1);
}

.icon.circle {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .group {
      width: 20rem;
      display: inline-block;
      margin: 30px;
      vertical-align: top;
  }

  .group .card-header {
    background: rgba(152, 20, 25, 01);
    color: #ffffff;
  }

  .group .card-header .card-title {
      margin-bottom: 0;
  }

  .group .card-header .card-subtitle {
      color: #d0d0d0;
      font-size: 0.9em;
  }

  .group .card-body {
      padding: 0 25px 25px 25px;
  }

  .group .type {
    background: #dfdfdf;
    font-size: 0.9em;
    color: #555;
    padding: 7px 5px;
    text-align: center;
    margin: 0 -25px 25px -25px;
  }

    .group .full {
        font-size: 0.8em;
        text-align: center;
        margin-top: 25px;
        color: red;
        font-weight: bold;
    }

    .group button {
        display: inline-block;
        float: right;
        margin-top: 15px;
    }

  .badge {
      color: #606060;
      background: #eaeaea;
      margin-right: 5px;
  }
