body {
    background: #eeeeee;
}

.icon.circle {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .group {
      width: 20rem;
      padding: 25px;
      display: inline-block;
      margin: 30px;
      vertical-align: top;
  }

  .group .type {
    background: rgba(152, 20, 25, 0.9);
    color: #ffffff;
    padding: 5px;
    text-align: center;
    margin: 15px -25px 15px -25px;
  }

    .group .full {
        font-size: 0.8em;
        text-align: center;
        margin-top: 25px;
        color: red;
        font-weight: bold;
    }

    .group button {
        display: inline-block;
        float: right;
        margin-top: 15px;
        background: rgba(152, 20, 25, 0.8);
        color: rgba(255,255,255,1);
    }
    .group button:hover {
        background: rgba(152, 20, 25, 1);
        color: rgba(255,255,255,1);
    }

  .badge {
      color: #606060;
      background: #eaeaea;
      margin-right: 5px;
  }