body {
    background: #eeeeee;
}

.btn,
button {
    background: rgba(152, 20, 25, 0.8);
    color: rgba(255,255,255,1);
}

.btn:hover,
button:hover {
    background: rgba(152, 20, 25, 1);
    color: rgba(255,255,255,1);
}

.icon.circle {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .group {
      width: 20rem;
      display: inline-block;
      margin: 30px;
      vertical-align: top;
  }

  .group .card-header {
    
    /*background: rgba(152, 20, 25, 01);
    color: #ffffff;
    */
    background: #fff;
  }

  .group .card-header .card-title {
      margin-bottom: 0;
  }

  .group .card-header .card-subtitle {
    /*  color: #d0d0d0;*/
    color: #777777;
      font-size: 0.9em;
  }

  .group .card-body {
      padding: 0 25px 25px 25px;
  }

  .group .type {
    background: #dfdfdf;
    background: rgba(152, 20, 25, 01);
    font-size: 0.9em;
    color: #555;
    color:#fff;
    padding: 7px 5px;
    text-align: center;
    margin: 0 -25px 25px -25px;
  }

  .full {
    display: block;
    font-size: 0.8em;
    text-align: center;
    color: red;
    font-weight: bold;
}
.group .full {
    margin-top: 25px;
}

.modal-title {
    font-weight: 400;
    font-size: 1em;
}

  .badge {
      color: #606060;
      background: #eaeaea;
      margin-right: 5px;
  }

  